.todo-description {
  line-break: anywhere;
}

.todo-description:hover {
  cursor: pointer;
}

.todo-description.done {
  color: #aaa;
  text-decoration: line-through;
}

.project {
  transition: transform 0.1s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}
